/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: #00b1af;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

section {
    padding: 40px 20px;
    text-align: center;
}

#home {
    background: url('GIS.png') no-repeat center center;
    background-size: cover;
    height: 120vh; /* Ajusta a altura para ocupar 100% da altura da viewport */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1.5em;
}

#sobre {
    background-color: #fafafa;
}

#projetos {
    background-color: #fff;
}

#contato {
    background-color: #c7c7c7;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Media Queries para diferentes tamanhos de tela */
@media (max-width: 768px) {
    #home {
        background-size: contain; /* Ajusta a imagem para caber em telas menores */
        height: auto; /* Permite que a altura seja ajustada conforme o conteúdo */
        padding: 20px; /* Adiciona espaçamento extra para dispositivos menores */
    }
}

@media (max-width: 480px) {
    #home {
        background-position: top center; /* Ajusta o posicionamento para telas muito pequenas */
        background-size: cover;
    }
}

#projetos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projeto {
    background: white;
    width: 300px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

footer {
    background-color: #00b1af;
    color: white;
    text-align: center;
    padding: 10px 0;
}
